In [6]:


import pandas as pd

# Specify the path to the CSV file
csv_file_path1 = "../data/input/remote/2010_zcta_to_county.csv"
csv_file_path2 = "../data/input/remote/2020_zcta_to_county.csv"


# Read the CSV file into a Pandas DataFrame
df_2010 = pd.read_csv(csv_file_path1)
df_2010.head()

,ZCTA5,STATE,COUNTY,GEOID,POPPT,HUPT,AREAPT,AREALANDPT,ZPOP,ZHU,...,COAREA,COAREALAND,ZPOPPCT,ZHUPCT,ZAREAPCT,ZAREALANDPCT,COPOPPCT,COHUPCT,COAREAPCT,COAREALANDPCT
0,601,72,1,72001,18465,7695,165132671,164333375,18570,7744,...,173777444,172725651,99.43,99.37,98.61,98.60,94.77,94.71,95.03,95.14
1,601,72,141,72141,105,49,2326414,2326414,18570,7744,...,298027589,294039825,0.57,0.63,1.39,1.40,0.32,0.35,0.78,0.79
2,602,72,3,72003,41520,18073,83734431,79288158,41520,18073,...,117948080,79904246,100.00,100.00,100.00,100.00,98.95,98.99,70.99,99.23
3,603,72,5,72005,54689,25653,82063867,81880442,54689,25653,...,195741178,94608641,100.00,100.00,100.00,100.00,89.73,90.23,41.92,86.55
4,606,72,93,72093,6276,2740,94864349,94851862,6615,2877,...,94864349,94851862,94.88,95.24,86.56,86.56,100.00,100.00,100.00,100.00

In [8]:
# Read the CSV file into a Pandas DataFrame
df_2020 = pd.read_csv(csv_file_path2, sep='|')
df_2020.head()

,OID_ZCTA5_20,GEOID_ZCTA5_20,NAMELSAD_ZCTA5_20,AREALAND_ZCTA5_20,AREAWATER_ZCTA5_20,MTFCC_ZCTA5_20,CLASSFP_ZCTA5_20,FUNCSTAT_ZCTA5_20,OID_COUNTY_20,GEOID_COUNTY_20,NAMELSAD_COUNTY_20,AREALAND_COUNTY_20,AREAWATER_COUNTY_20,MTFCC_COUNTY_20,CLASSFP_COUNTY_20,FUNCSTAT_COUNTY_20,AREALAND_PART,AREAWATER_PART
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27590114112812,1003,Baldwin County,4117656199,1132956041,G4020,H1,A,339765765,927218265
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2759099719300,1007,Bibb County,1612188717,9572303,G4020,H1,A,92709500,11113
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27590103020886,1015,Calhoun County,1569246127,16536293,G4020,H1,A,173314495,461654
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27590336389978,1021,Chilton County,1794438835,20592116,G4020,H1,A,67098990,5170
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2759075862059,1025,Clarke County,3207494086,36657889,G4020,H1,A,29757,593967

In [10]:
# Assuming df is your DataFrame
# Select rows where OID_ZCTA5_20, GEOID_ZCTA5_20, and NAMELSAD_ZCTA5_20 are not null
selected_rows = df_2020[df_2020['OID_ZCTA5_20'].notnull() & df_2020['GEOID_ZCTA5_20'].notnull() & df_2020['NAMELSAD_ZCTA5_20'].notnull()]

# Display the selected rows
selected_rows.head()

,OID_ZCTA5_20,GEOID_ZCTA5_20,NAMELSAD_ZCTA5_20,AREALAND_ZCTA5_20,AREAWATER_ZCTA5_20,MTFCC_ZCTA5_20,CLASSFP_ZCTA5_20,FUNCSTAT_ZCTA5_20,OID_COUNTY_20,GEOID_COUNTY_20,NAMELSAD_COUNTY_20,AREALAND_COUNTY_20,AREAWATER_COUNTY_20,MTFCC_COUNTY_20,CLASSFP_COUNTY_20,FUNCSTAT_COUNTY_20,AREALAND_PART,AREAWATER_PART
903,2.217043e+14,601.0,ZCTA5 00601,166847909.0,799292.0,G6350,B5,S,2759082215444,72001,Adjuntas Municipio,172725726,1051789,G4020,H1,A,164781682,799292
904,2.217043e+14,601.0,ZCTA5 00601,166847909.0,799292.0,G6350,B5,S,2759094826640,72141,Utuado Municipio,294045395,3982227,G4020,H1,A,2066227,0
905,2.217043e+14,602.0,ZCTA5 00602,78546713.0,4428428.0,G6350,B5,S,27590582517512,72003,Aguada Municipio,79923637,38025989,G4020,H1,A,78530159,4428428
906,2.217043e+14,602.0,ZCTA5 00602,78546713.0,4428428.0,G6350,B5,S,27590585582224,72011,AÃ±asco Municipio,101747429,14607647,G4020,H1,A,16554,0
907,2.217043e+14,603.0,ZCTA5 00603,88957333.0,6276536.0,G6350,B5,S,2759082344115,72005,Aguadilla Municipio,94618010,101127672,G4020,H1,A,88747846,6276536